{% extends "core/base.html" %} {% comment %} {# Template:
login_and_register.html Description: This template is used for rendering the
login and registration forms on the same page. It extends the base template
"core/base.html" and defines blocks for the page title and content. Blocks: -
title: Sets the page title to "Log In / Register". - content: Contains the HTML
structure for the login and registration forms. Features: - Login Form: - Uses
the POST method to submit data to the "login" URL. - Includes CSRF protection
with {% csrf_token %}. - Dynamically renders the login form fields using {{
form.as_p }}. - Includes a submit button styled with Bootstrap classes. -
Registration Form: - Uses the POST method to submit data to the "register" URL.
- Includes CSRF protection with {% csrf_token %}. - Dynamically renders the
registration form fields using {{ register_form.as_p }}. - Includes a submit
button styled with Bootstrap classes. Additional Notes: - The container is
styled with Bootstrap classes for responsive design and proper alignment. - A
horizontal rule (
<hr />
) separates the login and registration sections. - Includes a prompt for users
who do not have an account to register. #} {% endcomment %} {% block title %}Log
In / Register{% endblock %} {% block content %}
<div
  class="jumbotron text-left bg-light w-500 p-5 m-auto"
  style="max-width: 400px"
>
  <h2 class="mb-4 text-center">Register</h2>
  <form method="post" action="{% url 'register' %}">
    {% csrf_token %} {{ register_form.as_p }}
    <button type="submit" class="btn btn-secondary w-100">Sign Up</button>
  </form>
  <hr class="my-4" />
    <p class="text-center">Have an account?</p>
  <hr class="my-4" />
  <div class="d-grid gap-2 d-md-block center">
    <a class="btn btn-primary" href="{% url 'login' %}" role="button">Log In</a>
  </div>
</div>
{% endblock %}
